<<<<<<< HEAD
body {
    background-color: lightgray;
    color: darkslategrey;
    font-family: serif;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    text-shadow: 5px, 5px, black;



}
head {
    color: darkslategrey;
    text-shadow: 5px, 5px, black;
    font-family: sans-serif;
    background-color: lightgray;
    font-size: 110%;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    margin-top: 25px;

}


=======
head {
    font-family: sans-serif;
    font-size: 110%;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    margin-top: 25px;

}
body {
    color: rgb(58, 53, 53);
    font-family: serif;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: outset;
    border: 5px ,black;
    text-align: center;
    background-color: lightgray;
    
}





>>>>>>> f4ab90264fd1b49490de67b3341e7a84f50ed8d3
